ACTION=="add|change", SUBSYSTEM=="spi", ENV{MODALIAS}=="spi:lumentum-ocm", ATTR{driver_override}="spidev", RUN+="/bin/sh -c 'echo %k > %S%p/subsystem/drivers/spidev/bind'"
