[Unit]
Description=Install YANG and initial data for lldp-systemd-networkd-sysrepo
ConditionPathExistsGlob=!/etc/sysrepo/yang/czechlight-lldp@*.yang
Before=netopeer2.service lldp-systemd-networkd-sysrepo.service
After=netopeer2-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sysrepoctl --search-dirs /usr/share/lldp-systemd-networkd-sysrepo/yang --install /usr/share/lldp-systemd-networkd-sysrepo/yang/czechlight-lldp.yang --apply

[Install]
WantedBy=multi-user.target
