[Unit]
Description=Install YANG and initial data for lldp-systemd-networkd-sysrepo
Requires=sysrepod.service
Before=sysrepod.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sysrepoctl --install --yang /usr/share/lldp-systemd-networkd-sysrepo/yang/czechlight-lldp.yang
ExecStart=/usr/bin/sysrepoctl --install --yang /usr/share/lldp-systemd-networkd-sysrepo/yang/iana-afn-safi@2013-07-04.yang
ExecStart=/usr/bin/sysrepoctl --install --yang /usr/share/lldp-systemd-networkd-sysrepo/yang/ietf-inet-types@2013-07-15.yang
ExecStart=/bin/cp -a /etc/sysrepo /cfg/etc/

[Install]
WantedBy=multi-user.target
