[Unit]
Description=RAUC Good-marking Service
ConditionKernelCommandLine=|rauc.slot
After=multi-user.target
Requires=multi-user.target

[Service]
ExecStart=/usr/bin/rauc status mark-good
