[Unit]
Description=Reflash from USB
Requires=mnt.mount dbus.service
After=mnt.mount dbus.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty
StandardError=inherit
ExecStart=/mnt/usb-reflash-factory.sh
