[Unit]
Description=RESTCONFish server
After=syslog.target network.target yang-startup.target
PartOf=netopeer2.service
Requires=yang-startup.target

[Service]
Type=simple
ExecStart=/usr/bin/rousette
User=yangnobody
Group=yangnobody
SupplementaryGroups=sysrepo optics
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
Restart=always
RestartSec=10s
LogRateLimitIntervalSec=10
LogRateLimitBurst=30000
SyslogLevel=alert

[Install]
WantedBy=multi-user.target
