[Unit]
Description=RESTCONFish server
After=syslog.target network.target cfg-restore-sysrepo.service czechlight-migrate.service
PartOf=netopeer2.service
Requires=cfg-restore-sysrepo.service czechlight-migrate.service

[Service]
Type=simple
ExecStart=/usr/bin/rousette
SupplementaryGroups=sysrepo optics
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
Restart=always
RestartSec=10s
LogRateLimitIntervalSec=10
LogRateLimitBurst=30000
SyslogLevel=alert

[Install]
WantedBy=multi-user.target
