[Unit]
Description=RESTCONFish server
After=syslog.target network.target czechlight-install-yang.service cfg-restore-sysrepo.service czechlight-migrate.service nacm-restore.service
PartOf=netopeer2.service
Requires=czechlight-install-yang.service cfg-restore-sysrepo.service czechlight-migrate.service nacm-restore.service

[Service]
Type=simple
ExecStart=/usr/bin/rousette
User=yangnobody
Group=yangnobody
SupplementaryGroups=sysrepo optics
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
Restart=always
RestartSec=10s
LogRateLimitIntervalSec=10
LogRateLimitBurst=30000
SyslogLevel=alert

[Install]
WantedBy=multi-user.target
