[submodule "submodules/buildroot"]
	path = submodules/buildroot
	url = ../../github/buildroot/buildroot
[submodule "submodules/dependencies"]
	path = submodules/dependencies
	url = ../dependencies
[submodule "submodules/cla-sysrepo"]
	path = submodules/cla-sysrepo
	url = ../../CzechLight/cla-sysrepo
[submodule "submodules/netconf-cli"]
	path = submodules/netconf-cli
	url = ../netconf-cli
[submodule "submodules/gammarus"]
	path = submodules/gammarus
	url = ../gammarus
[submodule "submodules/velia"]
	path = submodules/velia
	url = ../velia/
[submodule "submodules/rousette"]
	path = submodules/rousette
	url = ../rousette
