[submodule "submodules/buildroot"]
	path = submodules/buildroot
	url = ../../github/buildroot/buildroot
[submodule "submodules/dependencies"]
	path = submodules/dependencies
	url = ../dependencies
[submodule "submodules/cla-sysrepo"]
	path = submodules/cla-sysrepo
	url = ../../CzechLight/cla-sysrepo
[submodule "submodules/netconf-cli"]
	path = submodules/netconf-cli
	url = ../netconf-cli
[submodule "submodules/gammarus"]
	path = submodules/gammarus
	url = ../gammarus
[submodule "submodules/velia"]
	path = submodules/velia
	url = ../velia/
[submodule "submodules/rousette"]
	path = submodules/rousette
	url = ../rousette
[submodule "submodules/sysrepo-ietf-alarms"]
	path = submodules/sysrepo-ietf-alarms
	url = ../sysrepo-ietf-alarms
[submodule "submodules/czl-sdn-web-ui"]
	path = submodules/czl-sdn-web-ui
	url = git@gitlab.cesnet.cz:705/czl-sdn/czl-sdn-web-ui.git
