[Unit]
Description=Install CzechLight YANG models
After=netopeer2-install-yang.service cfg.mount
Requires=netopeer2-install-yang.service cfg.mount
Before=netopeer2.service cfg-restore-sysrepo.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/libexec/czechlight/czechlight-install-yang.sh
Group=sysrepo

[Install]
WantedBy=multi-user.target
