[Unit]
Description=Tracking hardware metrics
After=syslog.target network.target cfg-yang.service
Before=rauc-mark-good.service
Requires=cfg-yang.service
ConditionKernelCommandLine=|czechlight=sdn-inline
ConditionKernelCommandLine=|czechlight=sdn-roadm-add-drop
ConditionKernelCommandLine=|czechlight=sdn-roadm-coherent-a-d
ConditionKernelCommandLine=|czechlight=sdn-roadm-line

[Service]
Type=simple
ExecStart=/usr/bin/veliad-hardware --appliance=czechlight-clearfog
Group=sysrepo
PrivateTmp=yes
PrivateDevices=no
ProtectSystem=yes
ProtectHome=yes
Restart=always
RestartSec=10s
LogRateLimitIntervalSec=10
LogRateLimitBurst=30000
SyslogLevel=alert

[Install]
WantedBy=multi-user.target
