[Unit]
Description=Velia is a health tracking for embedded devices running Linux
Requires=multi-user.target
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'echo 0 > /sys/class/leds/line:green/brightness'
ExecStart=/usr/bin/veliad --log-level=4
ExecStopPost=/bin/sh -c 'for COLOUR in red green blue; do echo 0 > /sys/class/leds/line:${COLOUR}/brightness; done; echo timer > /sys/class/leds/line:green/trigger; echo 255 > /sys/class/leds/line:green/brightness;'
PrivateTmp=yes
PrivateDevices=no
ProtectSystem=yes
ProtectHome=yes
Restart=always
LogRateLimitIntervalSec=10
LogRateLimitBurst=30000
SyslogLevel=alert

[Install]
WantedBy=multi-user.target
