[Unit]
Description=System management via sysrepo
After=syslog.target network.target yang-startup.target
Before=rauc-mark-good.service
PartOf=netopeer2.service
Requires=yang-startup.target
ConditionKernelCommandLine=czechlight

[Service]
Type=simple
ExecStart=/usr/bin/veliad-system
Group=sysrepo
PrivateTmp=yes
PrivateDevices=no
ProtectSystem=yes
ProtectHome=yes
Restart=always
RestartSec=10s
LogRateLimitIntervalSec=10
LogRateLimitBurst=30000
SyslogLevel=alert

[Install]
WantedBy=multi-user.target
