[Unit]
Description=Restore sysrepo startup datastore from /cfg
After=netopeer2-install-yang.service czechlight-install-yang.service cfg.mount
Requires=netopeer2-install-yang.service czechlight-install-yang.service cfg.mount
Before=netopeer2-setup.service netopeer2.service sysrepo-persistent-cfg.service
ConditionPathExists=/cfg/sysrepo/startup.json

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sysrepocfg -d startup -f json --import=/cfg/sysrepo/startup.json
ExecStart=/bin/sysrepocfg -C startup
Group=sysrepo
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
