[Unit]
Description=Restore systemd-networkd network settings from /cfg
After=cfg.mount
Requires=cfg.mount
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/mkdir -p /run/systemd/network
ExecStart=/bin/sh -c "cp -a /usr/lib/systemd/network/*.network /run/systemd/network"
ExecStart=/bin/sh -c "[[ -f /cfg/network/*.network ]] && cp /cfg/network/*.network /run/systemd/network/"

[Install]
WantedBy=network-pre.target
