[Unit]
Description=Install CzechLight YANG models
After=netopeer2-install-yang.service cfg.mount
Requires=netopeer2-install-yang.service cfg.mount
Before=cfg-restore-sysrepo.service czechlight-migrate.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/libexec/czechlight-cfg-fs/czechlight-install-yang.sh
Group=sysrepo

[Install]
WantedBy=yang-startup.target
