[Unit]
Description=Restore NACM rules
After=netopeer2-install-yang.service czechlight-install-yang.service czechlight-migrate.service cfg.mount
Requires=netopeer2-install-yang.service czechlight-install-yang.service czechlight-migrate.service cfg.mount
Before=netopeer2-setup.service netopeer2.service sysrepo-persistent-cfg.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sysrepocfg -d startup -m ietf-netconf-acm -f json --import=/usr/share/yang-data/nacm.json
ExecStart=/bin/sysrepocfg -C startup
Group=sysrepo

[Install]
WantedBy=multi-user.target
