[Unit]
Description=Store NETCONF SSH host keys into /cfg
After=cfg.mount netopeer2-keystored-init-keys.service
Requires=cfg.mount netopeer2-keystored-init-keys.service
ConditionPathExists=!/cfg/etc/keystored/keys

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /cfg/etc
ExecStart=/bin/cp -a /etc/keystored /cfg/etc/

[Install]
WantedBy=multi-user.target
