[Unit]
Description=Indicate a successful boot via LEDs
Requires=multi-user.target
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c '[ "$(/bin/systemctl list-units --failed --all --no-legend --no-pager)" == "" ]'
ExecStart=/bin/sh -c 'echo default-on > /sys/class/leds/status:green/trigger'
