[Unit]
Description=Indication of component state via LEDs on Clearfog

[Service]
Type=oneshot
# SFP: green lit for "link"
# SFP: green blinking for activity
ExecStart=/bin/sh -c 'echo netdev > /sys/class/leds/sfp:green/trigger'
ExecStart=/bin/sh -c 'for NETDEV in osc oscW oscE eth2; do [[ -d /sys/class/net/$NETDEV ]] && echo $NETDEV > /sys/class/leds/sfp:green/device_name ; done'
ExecStart=/bin/sh -c 'echo 1 > /sys/class/leds/sfp:green/link'
ExecStart=/bin/sh -c 'echo 1 > /sys/class/leds/sfp:green/rx'
ExecStart=/bin/sh -c 'echo 1 > /sys/class/leds/sfp:green/tx'
# LINE/EXPRESS: green for "we're getting some signal"
ExecStart=/bin/sh -c 'echo gpio > /sys/class/leds/line:green/trigger'
ExecStart=/bin/sh -c "sed -En 's/.*gpio-(.*) \\(EDFA1_ST1_IN_LOS_A .*/\\1/p' /sys/kernel/debug/gpio > /sys/class/leds/line:green/gpio"
