[Unit]
Description=Prepare a fake /dev/shm for sysrepo
Before=netopeer2-install-yang.service czechlight-install-yang.service netopeer2-setup.service

[Mount]
What=tmpfs
Where=/run/sysrepo
Type=tmpfs
DirectoryMode=0000
LazyUnmount=yes
ForceUnmount=yes
