#include <dt-bindings/iio/adi,ad5592r.h>

&i2c1 {
	// 24CSxx is treated as two separate devices
	eeprom@52 {
		compatible = "atmel,24c64";
		reg = <0x52>;
	};
	eeprom@5a {
		compatible = "atmel,24cs64";
		reg = <0x5a>;
	};

	ad5593r@11 {
		#size-cells = <0>;
		#address-cells = <1>;
		#gpio-cells = <2>;
		compatible = "adi,ad5593r";
		reg = <0x11>;
		gpio-controller;

		gpio-line-names =
			"VOA0_DAC",
			"VOA1_DAC",
			"SWITCH1_ON",
			"SWITCH2_ON",
			"ST1_34",
			"ST1_78",
			"ST2_34",
			"ST2_78"
			;

		channel@0 {
			reg = <0>;
			adi,mode = <CH_MODE_DAC_AND_ADC>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@1 {
			reg = <1>;
			adi,mode = <CH_MODE_DAC_AND_ADC>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@2 {
			reg = <2>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@3 {
			reg = <3>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@4 {
			reg = <4>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_OUT_TRISTATE>;
		};

		channel@5 {
			reg = <5>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_OUT_TRISTATE>;
		};

		channel@6 {
			reg = <6>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_OUT_TRISTATE>;
		};

		channel@7 {
			reg = <7>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_OUT_TRISTATE>;
		};
	};
};
