#include "marvell/armada-388-clearfog-base.dts"

&w25q32 {
	status = "okay";
	/* FIXME: need to ensure that CS2 is high when probing for this... */
};

/ {
	soc {
		internal-regs {
			sdhci@d8000 {
				/delete-property/ cd-gpios;
				broken-cd;
			};
		};
	};
};
