#include "armada-388-clearfog-base.dts"

&w25q32 {
	status = "okay";
};

/ {
	clocks {
		spi_uart_clk: osc_max14830 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <3686400>;
		};
	};
};

&uart1_pins {
        status = "disabled";
};

&uart1 {
        status = "disabled";
};

&pinctrl {
        hack_pins: hack_pins {
                marvell,pins = "mpp25";
                marvell,function = "gpio";
        };
};

&gpio0 {
	mikrobus_uart_tx {
		gpio-hog;
		/* Mark this as "active high", i.e. "1 is 1", so that the interrupts act on the falling edge */
		gpios = <25 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "SPI-int";
	};
};

&spi1 {
	max14830: max14830@2 {
		compatible = "maxim,max14830";
		reg = <2>;
		clocks = <&spi_uart_clk>;
		clock-names = "xtal";
		interrupt-parent = <&gpio0>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&hack_pins>;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		spi-max-frequency = <26000000>;
	};
};
