[Unit]
Description=Enable fans
ConditionKernelCommandLine=|czechlight=sdn-inline-g2
ConditionKernelCommandLine=|czechlight=sdn-roadm-add-drop-g2
ConditionKernelCommandLine=|czechlight=sdn-roadm-coherent-a-d-g2
ConditionKernelCommandLine=|czechlight=sdn-roadm-hires-add-drop-g2
ConditionKernelCommandLine=|czechlight=sdn-roadm-line-g2
ConditionKernelCommandLine=|czechlight=sdn-roadm-hires-add-drop-g2

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'for FAN in /sys/bus/i2c/devices/1-0020/hwmon/hwmon*/fan{1,2,3,4}_enable; do echo 1 > "$FAN"; done'
