[Unit]
Description=Install YANG module and startup datastore data for the CL-VMUX2 (Neophotonics VMUX) device
Requires=sysrepod.service
ConditionKernelCommandLine=czechlight=CL-VMUXv2
Before=sysrepod.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sysrepoctl --install --yang=/usr/share/cla-sysrepo/yang/czechlight-neophotonics-vmux.yang
ExecStart=/usr/bin/sysrepocfg --datastore=startup --import=/usr/share/cla-sysrepo/yang/czechlight-neophotonics-vmux.startup.xml czechlight-neophotonics-vmux

[Install]
WantedBy=multi-user.target
