[Unit]
Description=Install YANG model ietf-hardware-state and its dependencies
ConditionKernelCommandLine=|czechlight=sdn-roadm-line
ConditionKernelCommandLine=|czechlight=sdn-roadm-add-drop
ConditionKernelCommandLine=|czechlight=sdn-roadm-coherent-a-d
ConditionKernelCommandLine=|czechlight=sdn-inline
ConditionKernelCommandLine=|czechlight=calibration-box
ConditionPathExistsGlob=!/etc/sysrepo/yang/ietf-hardware-state@2018-03-13yang
Before=cla-install-yang-sdn-roadm-line.service cla-install-yang-sdn-roadm-add-drop.service cla-install-yang-sdn-roadm-coherent-a-d.service cla-install-yang-sdn-inline.service cla-install-yang-calibration-box.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sysrepoctl --search-dirs /usr/share/cla-sysrepo/yang --install /usr/share/cla-sysrepo/yang/iana-hardware@2018-03-13.yang --apply
ExecStart=/usr/bin/sysrepoctl --search-dirs /usr/share/cla-sysrepo/yang --install /usr/share/cla-sysrepo/yang/ietf-hardware-state@2018-03-13.yang --enable-feature hardware-sensor --apply

[Install]
WantedBy=multi-user.target
