[Unit]
Description=CzechLight CL-ROADMv2 driver
After=syslog.target network.target sysrepod.service
Requires=sysrepod.service
PartOf=sysrepod.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/cla-sysrepod --properties-log-level=5 --sr-bridge-log-level=5 --sysrepo-log-level=3 --driver=CL-ROADMv2 --port=/dev/ttyUSB0
PrivateTmp=yes
PrivateDevices=no
ProtectSystem=yes
ProtectHome=yes
Restart=on-abnormal
SystemCallArchitectures=native
Restart=always
WatchdogSec=15s

[Install]
WantedBy=multi-user.target
